/*font-family: 'Roboto', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Barlow', sans-serif;*/

:root {
  --fuentePrincipal: 'Roboto', sans-serif;
  --fuentSecundaria: 'Josefin Sans', sans-serif;
  --fuenteTerciaria: 'Dancing Script', cursive;
  --fuenteCuarta: font.f
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header div.logo {
  text-align: center;
}

div.logo h2 {
  margin-top: 0;
  font-family: var(--fuenteTerciaria);
  font-size: 2em;
}

.logo img {
  height: 100px;
  width: 130px;
}

header div.nav {
  display: flex;
  margin: 0;
}

.nav ul {
  display: flex;
}

nav ul li {

}

div.social-bar {
  
}

.social-bar span {

}