/*font-family: 'Roboto', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Barlow', sans-serif;*/
:root {
  --fuentePrincipal: 'Roboto', sans-serif;
  --fuentSecundaria: 'Josefin Sans', sans-serif;
  --fuenteTerciaria: 'Dancing Script', cursive;
  --colorPrimario: #FFEC5E;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header div.logo {
  text-align: center;
  background-color: #FFEC5E;
}

div.logo h2 {
  margin: 0;
  font-family: var(--fuenteTerciaria);
  font-size: 2em;
  color: black;
}

div.logo p {
  padding-bottom: 1em;
  font-family: var(--fuenteTerciaria);
}

.logo img {
  height: 100px;
  width: 130px;
}

header div.nav {
  display: flex;
  margin: 0;
  justify-content: center;
}

.nav ul {
 display: flex;
 list-style: none;
 margin-top: 2em;
}

nav ul li {
  margin: 0 1em;
  font-size: 1.1em;
  font-family: var(--fuentePrincipal);
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: var(--colorPrimario);
  background-color: black;
  border-radius: 5px;
}

nav ul li span {
}

div.social-bar {
  
}

.social-bar span {
  margin: auto;
}

/*hero*/

section.hero {
  display: flex;
  align-items: center;

}

.hero .heros {
  flex: 1;
  height: 15em;
  margin: 4em 2em;
  border: 1px solid black;
  padding: 1em;
  border-radius: 20px;
}

.heros p {

}

.heros p:nth-of-type(1){
  color: #DF2F2E;
}
.heros h2 {

}

/*section lo-ultimo */


section.lo-ultimo {

}

.lo-ultimo__title h2{

}

div.lo-ultimo__post-cards {
  display: flex;
}

div.lo-ultimo__post-cards div.cards {
}

div.lo-ultimo__post-cards div.cards img {
  width: 200px;
  height: 250px;

}

.lo-ultimo__cards img {
}

.lo-ultimo__cards h2 {

}

.lo-ultimo__cards p:nth-of-type(3) {

}

