/*font-family: 'Roboto', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Barlow', sans-serif;*/

:root {
  --fuentePrincipal: 'Roboto', sans-serif;
  --fuentSecundaria: 'Josefin Sans', sans-serif;
  --fuenteTerciaria: font-family: 'Dancing Script', cursive;
}

header {
  display: flex;
}

header div.logo {

}

.logo img {

}

header div.nav {
}

.nav ul {
  display: flex;
}

nav ul li {

}

div.social-bar {
  
}

.social-bar span {

}